@model MoviesLibrary.Models.Platform

@{
    ViewData["Title"] = "Create Platform";
}

<div class="centerItems">
    <h1>Create Platform</h1>    
    <hr />

    <div class="row">
        <div class="col-md-4 wider">
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Platformname" class="control-label bold rightAndTop"></label>
                    <input asp-for="Platformname" class="form-control" />
                    <span asp-validation-for="Platformname" class="text-danger"></span>
                </div>              
                <div class="form-group centerBtns">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="ViewAll" id="backToListBtn" class="btn btn-outline-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
